---
import Layout from "../layouts/Layout.astro";

import Hero from "../components/Hero.astro";
import Experience from "../components/Experience.astro";
import Section from "../components/Section.astro";
import Projects from "../components/Projects.astro";
import Technologies from "../components/Technologies.astro";
import AboutMe from "../components/AboutMe.astro";
import Contact from "../components/Contact.astro";
---

<Layout
	title="Erick Toala - Desarrollador y Programador Web"
	description="Contrata a Erick Toala, un talentoso desarrollador y programador web, para llevar tu presencia en línea al siguiente nivel."
>
	<main>
		<Section class="lg:h-[90vh] pt-24 md:pt-[25vh]" id="hero">
			<Hero />
		</Section>
		<Section class="pt-20" id="experience">
			<h2 class="text-2xl font-semibold mb-6">Experiencia</h2>
			<Experience />
		</Section>
		<Section class="pt-20" id="project">
			<h2 class="text-2xl font-semibold mb-6">Proyectos</h2>
			<Projects />
			<!-- Boton ver mas proyectos -->
			<div class="text-center mt-12">
				<a
					href=""
					class="relative overflow-hidden text-sm inline-block px-6 py-3 bg-blue-600 text-white font-semibold rounded-lg shadow-md transition-all duration-300 group"
				>
					<span class="relative z-10">Ver más proyectos</span>
					<span
						class="absolute left-0 top-0 h-full w-0 bg-blue-700 transition-all duration-500 group-hover:w-full"
					></span>
				</a>
			</div>
		</Section>
		<Section class="pt-20">
			<h2 class="text-2xl font-semibold mb-6">Tecnologías</h2>
			<Technologies />
		</Section>
		<Section class="pt-20" id="aboutme">
			<h2 class="text-2xl font-semibold mb-6 text-center md:text-start">
				Sobre mí
			</h2>
			<AboutMe />
		</Section>
		<Section id="contact" class="pb-24 pt-20">
			<h2 class="text-2xl font-semibold mb-6 text-center md:text-start">
				Contacto
			</h2>
			<Contact />
		</Section>
	</main>
</Layout>
