---
import Layout from "../layouts/Layout.astro";
import Bange from "../components/Bange.astro";
import GitHubIcon from "../components/icons/GitHubIcon.astro";
import LinkedInIcon from "../components/icons/LinkedInIcon.astro";
import MailIcon from "../components/icons/MailIcon.astro";
import SocialPill from "../components/SocialPill.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout
	title="Erick Toala - Desarrollador y Programador Web"
	description="Contrata a Erick Toala, un talentoso desarrollador y programador web, para llevar tu presencia en línea al siguiente nivel."
>
	<main>
		<section class="container mx-auto px-4 py-16 max-w-5xl">
			<div class="grid grid-cols-2 grid-rows-1 gap-4">
				<div>
					<h1 class="text-4xl font-extrabold flex flex-row gap-x-4">
						Hola, soy Erick Toala
						<a
							href="https://www.linkedin.com/in/erick-alexander-toala-intriago-58b411205/"
							target="_blank"
							rel="noopener"
							class="flex justify-center"
						>
							<Bange>Disponible</Bange>
						</a>
					</h1>
					<h2 class="text-xl font-semibold mt-2 text-blue-600">
						Ingeniero en TI | Desarrollador Web
					</h2>
					<p class="mt-4 text-lg">
						Desarrollador web apasionado por crear experiencias
						digitales impresionantes. Bienvenido a mi portafolio,
						donde comparto mis proyectos y habilidades.
					</p>
					<div class="flex gap-x-4">
						<a
							href="#"
							class="text-sm inline-block mt-6 px-6 py-3 bg-blue-600 text-white font-semibold rounded-lg hover:bg-blue-700 transition"
						>
							Contáctame
						</a>
						<a
							href="/Erick_Toala_CV.pdf"
							target="_blank"
							rel="noopener"
							class="text-sm inline-block mt-6 px-6 py-3 border border-blue-600 text-white font-semibold rounded-lg hover:bg-blue-700 transition"
						>
							Descargar CV
						</a>
					</div>

					<!-- Aqui irian las redes sociales en iconos dentro de circulos -->
					<nav class="flex gap-x-2 mt-8 text-sm">
						<SocialPill href="https://github.com/Erick-Toala">
							<GitHubIcon class="size-5" />
							GitHub
						</SocialPill>
						<SocialPill
							href="https://www.linkedin.com/in/erick-alexander-toala-intriago-58b411205/"
						>
							<LinkedInIcon class="size-5" />
							LinkedIn
						</SocialPill>
						<SocialPill href="#">
							<MailIcon class="size-5" />
							toalaerick56@gmail.com
						</SocialPill>
					</nav>
				</div>
				<!-- Aqui va  la foto centrada en el div -->
				<div>
					<img
						class="rounded-full w-[50vh] mx-auto"
						src="./erick-perfil.jpg"
						alt="erickdev logo"
					/>
				</div>
			</div>
		</section>
	</main>
</Layout>
