---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
    {
        date: "Abr 2025 - Ago 2025",
        title: "Desarrollador Plataforma Web IoT Uleam",
        company: "ULEAM",
        description:
            "Desarrollo, diseño e implementación de la plataforma web IoT Uleam, manejo de tecnologías IoT, manejo de Base de Datos.",
        link: "#",
    },
    {
        date: "May 2024 - Ago 2024",
        title: "Laravel Developer",
        company: "ULEAM",
        description:
            "Desarrollo del software SIOT, Trabajo en equipo, Modificaciones y Mantenimiento del sistema, Soporte Técnico, Aplicación del patrón de diseño MVC.",
        link: "#",
    },
];
---

<ol class="relative">
    {
        EXPERIENCE.map((experience) => (
            <li>
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>
